<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코코넛톡 - 친구목록</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <div class="friends_full">
        <div class="friends">
            <div class="friend_count">
                <span>친구 5</span>
            </div>
            <div class="friend_item">
                <p>친구</p>
                <p>친구 상태 메시지</p>
            </div>
            <div class="friend_item">
                <p>친구</p>
                <p>친구 상태 메시지</p>
            </div>
            <div class="friend_item">
                <p>친구</p>
                <p>친구 상태 메시지</p>
            </div>
            <div class="friend_item">
                <p>친구</p>
                <p>친구 상태 메시지</p>
            </div>
            <div class="friend_item">
                <p>친구</p>
                <p>친구 상태 메시지</p>
            </div>
        </div>
        <div class="friends_btn">
            <form class="friends_list_form" action="./friends" method="POST">
                <button class="friends_img" type="submit">
                    <img src="../static/image/friends_img.png" alt="친구창 이미지"/>
                </button>
            </form>
            <form class="chats_list_form" action="./chats" method="POST">
                <button class="chats_img" type="submit">
                    <img src="../static/image/chat_img.png" alt="채팅창 이미지"/>
                </button>
            </form>
        </div>
    </div>
</body>
</html>
