<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코코넛톡 - 로그인</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="login">
            <h1 class="logo"></h1>
            <h3>코코넛톡</h3>
            <form class="login_form" action="./friends" method="POST">
                <p><input class="login_id" placeholder="아이디" type="text"></p>
                <p><input class="login_pw" placeholder="비밀번호" type="text"></p>
                <p><input class="login_btn" type="submit" value="로그인"></p> 
            </form>
            <p>코코넛 계정 찾기 &nbsp;&nbsp;| &nbsp;&nbsp;비밀번호 찾기</p>
        </div>
    </div>
    </body>
</html>